

.bgimage{
    background-image: url(/public/media/sebastian-knoll-jHa4qLp4uZA-unsplash.jpg);
    background-size: cover;
  }
  
.grazie{
  background-image: url(/public/media/grazie.jpg);
  height: 100%;
  width: 100%;
  background-size:contain;
  
  
}